@{
    ViewData["Title"] = "日志详情";
}

@section Css {
    <style type="text/css">
        p {
            color: red;
            width: 98%;
            height: auto;
            word-break: break-all;
            word-wrap: break-word;
            overflow: hidden;
        }

        .el_row {
            font-weight: bold;
            font-size: 16px;
        }
    </style>
}
<div id="logDetailsApp" v-clock>
    <template>
        <section style="margin-left: 20px; margin-top: 20px;">
            <el-row :gutter="20" class="el_row">
                <el-col :span="6">模块：<span style="color: red;">{{ logFrom.module_name }}</span></el-col>
                <el-col :span="6">
                    日志等级：
                    <el-tag v-if="logFrom.level==1" type="info" size="small">Debug</el-tag>
                    <el-tag v-if="logFrom.level==2" type="primary" size="small">Info</el-tag>
                    <el-tag v-if="logFrom.level==3" type="warning" size="small">Warn</el-tag>
                    <el-tag v-if="logFrom.level==4" type="danger" size="small">Error</el-tag>
                    <el-tag v-if="logFrom.level==5" type="danger" size="small">Fatal</el-tag>
                </el-col>
                <el-col :span="6"></el-col>
                <el-col :span="6"></el-col>
            </el-row>
            <br />
            <el-row :gutter="20" class="el_row">
                <el-col :span="6">接口地址：<span style="color: red;">{{ logFrom.request_path }}</span></el-col>
                <el-col :span="6">请求IP：{{ logFrom.ip_address }}</el-col>
                <el-col :span="6">日志产生时间：{{ logFrom.log_create_time }}</el-col>
                <el-col :span="6">创建时间：{{ logFrom.created_time }}</el-col>
            </el-row>
            <el-divider></el-divider>
            <el-row :gutter="20" class="el_row">
                <el-col :span="12">
                    <h3>{{ logFrom.method.toUpperCase() }} 请求地址：</h3>
                    <p>{{ logFrom.request_url }}</p>
                </el-col>
                <el-col :span="12">
                    <h3>请求内容：</h3>
                    <p>{{ logFrom.request_form }}</p>
                </el-col>
            </el-row>
            <el-divider></el-divider>
            <el-row :gutter="20" class="el_row">
                <el-col :span="12">
                    <h3>信息：</h3>
                    <p>{{ logFrom.message }}</p>
                </el-col>
                <el-col :span="12">
                    <h3>备注：</h3>
                    <p>{{ logFrom.remark }}</p>
                </el-col>
            </el-row>
            <el-divider></el-divider>
            <h3>异常信息：</h3>
            <p>{{ logFrom.exception }}</p>
        </section>
    </template>
</div>
@section Scripts {
    <script>
        new Vue({
            el: '#logDetailsApp',
            data() {
                return {
                    logFrom: {
                        id: null,
                        module_code: null,
                        module_name: null,
                        level: null,
                        request_path: null,
                        request_url: null,
                        request_form: null,
                        method: null,
                        exception: null,
                        message: null,
                        ip_address: null,
                        remark: null,
                        log_create_time: null,
                        created_time: null
                    }
                }
            },
            methods: {
                details: function () {
                    var self = this;
                    $.get('/Logger/GetLog?id=' + self.logFrom.id, function (res) {
                        self.logFrom = res;
                    });
                },
                requestParam: function (name) {
                    var search = location.search.slice(1);
                    var arr = search.split("&");
                    for (var i = 0; i < arr.length; i++) {
                        var ar = arr[i].split("=");
                        if (ar[0] == name) {
                            if (unescape(ar[1]) == 'undefined') {
                                return "";
                            } else {
                                return unescape(ar[1]);
                            }
                        }
                    }
                    return "";
                }
            },
            created: function () {
                this.logFrom.id = this.requestParam('id');
                this.details();
            }
        });
    </script>
}

