@{
    ViewData["Title"] = "仪表盘";
}

<div id="dashboardApp" style="margin-bottom: 20px;">
    <el-card class="box-card">
        <el-main>
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-card shadow="always" style="color: #67c23a; background-color: #f0f9eb;  ">
                        <el-button type="success" icon="el-icon-s-promotion" style="vertical-align: middle;" circle></el-button>
                        &nbsp;&nbsp;&nbsp;
                        <div style="padding: 1px; display: inline-block; vertical-align: middle;">
                            <span>{{ statisticForm.requestNum }}</span><br />请求次数
                        </div>
                    </el-card>
                </el-col>
                <el-col :span="6">
                    <el-card shadow="always" style="color: #f56c6c; background-color: #fef0f0;">
                        <el-button type="danger" icon="el-icon-close" style="vertical-align: middle;" circle></el-button>
                        &nbsp;&nbsp;&nbsp;
                        <div style="padding: 1px; display: inline-block; vertical-align: middle;">
                            <span>{{ statisticForm.logNum }}</span><br />日志数量
                        </div>
                    </el-card>
                </el-col>
                <el-col :span="6">
                    <el-card shadow="always" style="color: #e6a23c; background-color: #fdf6ec; ">
                        <el-button type="warning" icon="el-icon-bell" style="vertical-align: middle;" circle></el-button>
                        &nbsp;&nbsp;&nbsp;
                        <div style="padding: 1px; display: inline-block; vertical-align: middle;">
                            <span>{{ statisticForm.monitorNum }}</span><br />监控数量
                        </div>
                    </el-card>
                </el-col>
                <el-col :span="6">
                    <el-card shadow="always" style="color: #909399; background-color: #f4f4f5; ">
                        <el-button type="info" icon="el-icon-star-off" style="vertical-align: middle;" circle></el-button>
                        &nbsp;&nbsp;&nbsp;
                        <div style="padding: 1px; display: inline-block; vertical-align: middle;">
                            <span>{{ statisticForm.moduleNum }}</span><br />模块数量
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
    </el-card>
</div>
<el-card class="box-card">
    <el-row>
        <div id="logChart" style="width: 49%; height: 650px; float: left; margin: 10px 10px;"></div>
        <div id="statisticLogChart" style="width: 49%; height: 650px; float: left;"></div>
    </el-row>
</el-card>

@section Scripts {
    <script src="/js/echarts-5.1.2/echarts.min.js"></script>
    <script>
        new Vue({
            el: "#dashboardApp",
            data() {
                return {
                    statisticForm: {
                        requestNum: 0,
                        logNum: 0,
                        monitorNum: 0,
                        moduleNum: 0,
                    },
                }
            },
            methods: {
                getStatistics() {
                    var self = this;
                    $.get("/Dashboard/GetStatistics",
                        function (res) {
                            self.statisticForm = res;
                        });
                },
                getLogChart() {
                    var resData = null;
                    $.ajax({
                        type: "get",
                        url: "/Dashboard/GetLogChart",
                        data: null,
                        async: false,
                        success: function (res) {
                            console.log(res);
                            resData = res;
                        }
                    });

                    for (var item of resData.data) {
                        Object.assign(item, { type: 'line', stack: '总量' });
                    }

                    var myChart = echarts.init(document.getElementById('logChart'));
                    var option = {
                        title: {
                            text: ''
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: resData.module
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        toolbox: {
                            feature: {
                                //saveAsImage: {}
                            }
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: resData.xAxis
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: resData.data
                    };
                    myChart.setOption(option);
                },
                getStatisticLogChart() {
                    var resData = null;
                    $.ajax({
                        type: "get",
                        url: "/Dashboard/GetStatisticLogChart",
                        data: null,
                        async: false,
                        success: function (res) {
                            resData = res;
                        }
                    });

                    for (var item of resData.series_data) {
                        if (item.name === "Test") {
                            Object.assign(item, { selected: true });
                        }
                    }

                    var myChart = echarts.init(document.getElementById('statisticLogChart'));
                    var option = {
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b}: {c} ({d}%)'
                        },
                        legend: {
                            data: resData.module
                        },
                        series: [
                            {
                                name: '请求次数',
                                type: 'pie',
                                selectedMode: 'single',
                                radius: [0, '30%'],
                                label: {
                                    position: 'inner',
                                    fontSize: 14,
                                },
                                labelLine: {
                                    show: false
                                },
                                data: resData.series_data
                            },
                            {
                                name: '请求次数',
                                type: 'pie',
                                radius: ['45%', '60%'],
                                labelLine: {
                                    length: 30,
                                },
                                label: {
                                    formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                                    backgroundColor: '#F6F8FC',
                                    borderColor: '#8C8D8E',
                                    borderWidth: 1,
                                    borderRadius: 4,
                                    rich: {
                                        a: {
                                            color: '#6E7079',
                                            lineHeight: 22,
                                            align: 'center'
                                        },
                                        hr: {
                                            borderColor: '#8C8D8E',
                                            width: '100%',
                                            borderWidth: 1,
                                            height: 0
                                        },
                                        b: {
                                            color: '#4C5058',
                                            fontSize: 14,
                                            fontWeight: 'bold',
                                            lineHeight: 33
                                        },
                                        per: {
                                            color: '#fff',
                                            backgroundColor: '#4C5058',
                                            padding: [3, 4],
                                            borderRadius: 4
                                        }
                                    }
                                },
                                data: resData.data
                            }
                        ]
                    };
                    myChart.setOption(option);
                }
            },
            created() {
                this.getStatistics();
                this.getLogChart();
                this.getStatisticLogChart();
            }
        });
    </script>
}